[Unit]
Description=Start FBI Slideshow
After=multi-user.target
Requires=dev-tty1.device

[Service]
ExecStart=/home/tcarter/start-slideshow.sh
Type=oneshot
User=root
Group=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target